.heading {
  font-size: 3em;
  text-align: center;
}

.button {
  margin: .5em;
  padding: .5em;
  font-size: 5em;
  color: #fff;
  border: 0;

  &--increment { background: green; }
  &--decrement { background: red; }
}

