.heading {
  font-size: 3em;
  text-align: center;
}

.button {
  margin: .5em;
  padding: .5em;
  font-size: 5em;
  color: #fff;
  border: 0;

  &--increment { background: color(green l(-10%)); }
  &--decrement { background: color(red l(-20%)); }
}

