@mixin something($color: #bada55) {
  color: $color;
  @content;
}

$color: blue;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(#222, #000);
  background-repeat: no-repeat;
  color: $color;
  @include something($color);
}

